/* 
* Main Styling
*/

/* 
* Mobile-first design
*/

/* .card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: dense;
  gap: 0;
  padding: 8px;

  border: 1px solid black;

  background-color: var(--color-secondary-light);
}

.card__image {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: end;

  width: 125px;
  height: auto;
}

.card__title {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;

  margin: 16px;

  text-align: center;
  font-size: 1.2rem;
}

.card__description {
  grid-column: span 12;
  grid-row: span 1;
  margin: 8px;
  margin-bottom: 16px;

  line-height: 1.4;
  font-size: 1rem;
}

.card__description--first {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 10;
}

.card:last-child {
  border-top: none;
}

.card:last-child .card__image {
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: start;
}

.card:last-child .card__title {
  grid-column-start: 4;
  grid-column-end: 13;
}

.card:last-child .card__description--first {
  grid-column-start: 4;
  grid-column-end: 13;
} */

.card {
  padding: 8px;

  border: 1px solid black;

  background-color: var(--color-secondary-light);
}

.card__image {
  width: 125px;
  height: auto;
  margin-left: 8px;

  float: right;
}

.card__title {
  margin: 20px;

  text-align: center;
  font-size: 1.4rem;
}

.card__description {
  margin: 16px 8px;

  line-height: 1.4;
  font-size: 1rem;
}

.card:last-child {
  border-top: none;
}

.card:last-child .card__image {
  float: left;
  margin-right: 8px;
  margin-left: 0;
}

/* 
*Desktop styling 
*/

@media screen and (min-width: 44rem) {
  /* .card {
    margin: 16px;
  }

  .card__title {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row: span 1;
  }

  .card__description {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row: span 1;
  }

  .card__image {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row: span 4;

    width: 200px;
    height: auto;
  }

  .card:last-child {
    border-top: 1px solid black;
  }

  .card:last-child .card__image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: span 4;
  }

  .card:last-child .card__title {
    grid-column-start: 4;
    grid-column-end: 13;
  }

  .card:last-child .card__description {
    grid-column-start: 4;
    grid-column-end: 13;
  } */
  .card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: dense;
    gap: 0;

    margin: 16px;
  }

  .card__image {
    float: none;

    width: 200px;
    height: auto;

    grid-column: 10 / 13;
    grid-row: span 4;
  }

  .card__title {
    grid-column: 1 / 10;
    grid-row: span 1;
  }

  .card__description {
    grid-column: 1 / 10;
    grid-row: span 1;
  }

  .card:last-child {
    border-top: 1px solid black;
  }

  .card:last-child .card__image {
    grid-column: 1 / 4;
  }

  .card:last-child .card__title {
    grid-column: 4 / 13;
  }

  .card:last-child .card__description {
    grid-column: 4 / 13;
  }
}
