/* 
* Main styling
*/

.content {
  gap: 16px;
}

.hero {
  grid-column-start: 2;
  grid-column-end: 12;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin: 16px 0;

  border-radius: 8px;

  background-color: var(--color-primary-light);
}

.hero__title {
  width: 70%;
  padding: 16px;

  text-align: center;

  border-bottom: 1px solid black;
}

.hero__description {
  padding: 16px;
}

.registration-form {
  grid-column-start: 4;
  grid-column-end: 10;
  display: flex;
  flex-flow: column nowrap;

  padding: 16px;
  margin-bottom: 16px;

  border-radius: 8px;

  background-color: var(--color-secondary-light);
}

.registration-form__title {
  align-self: center;

  width: 70%;
  padding: 8px;

  text-align: center;

  border-bottom: 0.5px solid black;
}

.registration-form__label {
  margin: 8px 15%;
}

.registration-form__label-required {
  color: red;
}

.registration-form__input {
  margin: 0 15%;
  max-width: 16rem;
}

.registration-form__input:invalid {
  border: 1.5px solid red;
}

.registration-form__input:valid {
  border: 1.2px solid var(--color-primary-dark);
}

.registration-form__label--checkbox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.registration-form__input--checkbox {
  margin: 8px 0;
}

.registration-form__checkbox-text {
  margin-left: 1rem;
}

.registration-form__button {
  align-self: center;

  padding: 8px 16px;

  border: none;
  border-bottom: 2px solid var(--color-primary-dark);

  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
}

.registration-form__button:hover,
.card_registration-form__button:focus-within {
  cursor: pointer;

  border-bottom: 2px solid var(--color-primary-dark);

  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
}

/* Mobile styling
* Intentionally made the website desktop-first to compare the DX with mobile-first design
* Bad idea, 2/10, would not recommend
*/
@media screen and (max-width: 50rem) {
  .registration-form {
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

/* Transitions only when user has not set motion preference */

@media (prefers-reduced-motion: no-preference) {
  .registration-form__button {
    transition: background-color 0.4s, color 0.5s;
  }
}
